input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 86, 171, 0.411);
          box-shadow: 0 0 0 3px rgba(255, 86, 171, 0.411);
}

input[type="password"]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 86, 171, 0.411);
          box-shadow: 0 0 0 3px rgba(255, 86, 171, 0.411);
}

button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px rgba(255, 86, 171, 0.411);
          box-shadow: 0 0 0 5px rgba(255, 86, 171, 0.411);
}

::-moz-selection {
  background: #FA00FF;
  color: #FFF;
}

::selection {
  background: #FA00FF;
  color: #FFF;
}

.messages_container {
  width: 100%;
  height: calc(100% - 70px);
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client__input-form {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 10px;
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client__input-form .emojis-menu-opener {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  right: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  z-index: 18;
  padding: 5px;
}

.client__input-form .emojis-menu-opener::before {
  content: "";
  position: absolute;
  left: 0;
  height: 30px;
  width: 1px;
  background: #9c9c9c;
}

.client__input-form .emojis-menu-opener img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.client__input-form .emojis-menu-opener .emoji-menu {
  position: absolute;
  min-width: 200px;
  min-height: 200px;
  bottom: 50%;
  right: 50%;
}

.client__input-form .emojis-menu-opener .emoji-menu * {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.client__input-form .replying_to {
  width: calc(100% - 40px);
  height: 30px;
  z-index: 0;
  left: 20px;
  border-radius: 9px 9px 0 0;
  padding: 0 20px;
  color: #FFF;
  position: absolute;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background: #3b5f64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.client__input-form .replying_to p {
  color: #FFF;
  margin-left: 5px;
  font-weight: 500;
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
}

.client__input-form .replying_to .exit-reply {
  position: absolute;
  right: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  cursor: pointer;
}

.client__input-form .client__input {
  height: 100%;
  width: 100%;
  z-index: 9;
  position: absolute;
  background: transparent;
  border: none;
  border: 2px solid #FA00FF;
  border-radius: 5px;
  font-size: 1.002rem;
  padding-left: 5px;
  padding-right: 45px;
  background: #FFF;
  font-family: "Poppins", sans-serif;
}

.client__input-form .client__input.dark {
  color: #fff;
  background: #1a1a1a;
}

.sent_messages__container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding: 60px 10px 0 10px;
}

.room-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  right: 0;
  top: 70px;
  width: 100%;
  z-index: 6;
  position: fixed;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 8px 0px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 8px 0px 16px -8px;
  background: #f1f1f1;
}

.room-header.dark {
  background: #363636;
}

.room-header .room__info {
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room-header .room__info .img-frame {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.room-header .room__info .img-frame img {
  width: 100%;
  vertical-align: bottom;
}

.room-header .room__info .room-name {
  margin-left: 20px;
  cursor: pointer;
  color: #000;
}

.room-header .room__info .room-name:hover {
  text-decoration: underline;
}

.room-header .room__info .room-name.dark {
  color: #fff;
}

.room-header .active__users-side {
  max-width: 400px;
  width: 100%;
}

@-webkit-keyframes skeleton-load {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@keyframes skeleton-load {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

.skeleton {
  width: 200px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  margin-left: 20px;
  border-radius: 50px;
  height: 25px;
  overflow: hidden;
  position: relative;
}

.skeleton.room-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 0;
}

.skeleton:before {
  content: "";
  width: 6px;
  position: absolute;
  background: #fff;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  height: 100%;
  -webkit-animation-name: skeleton-load;
          animation-name: skeleton-load;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.twemoji {
  width: 20px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  margin-left: 5px;
}

.twemoji.big {
  width: 40px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.twemoji.mini {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  width: 15px;
}
/*# sourceMappingURL=messages.css.map */