@import "../../../Home/style/_variables";

.messages_container {
  width: 100%;
  height: calc(100% - 70px);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.client__input-form {
  width: 100%;
  align-self: flex-end;
  margin-bottom: 10px;
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: column;
  .replying_to{
    width: calc(100% - 40px);
    height: 30px;
    z-index: 0;
    left: 20px;
    border-radius: 9px 9px 0 0;
    padding: 0 20px;
    color: #FFF;
    position: absolute;
    transform: translateY(-30px);
    background: #3b5f64;
    display: flex;
    align-items: center;
    cursor: default;
    p{
      color: #FFF;
      margin-left: 5px;
      font-weight: 500;
      transform: translateY(-1.5px);
    }
    .exit-reply{
      position: absolute;
      right: 0;
      transform: translateX(-10px);
      cursor: pointer;
    }
  }
  .client__input {
    height: 100%;
    width: 100%;
    z-index: 9;
    position: absolute;
    background: transparent; 
    border: none;
    border: 2px solid $gradient__color-one;
    border-radius: 5px;
    font-size: 1.002rem;
    padding: 0 5px;
    background: #FFF;
    font-family: "Poppins", sans-serif;
    &.dark {
      color: #fff;
      background: $dark__theme;
    }
  }
}

.sent_messages__container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding: 60px 10px 0 10px;
}

.room-header {
  display: flex;
  height: 50px;
  right: 0;
  top: 70px;
  width: 100%;
  z-index: 6;
  position: fixed;
  border-radius: 0 0 8px 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 8px 0px 16px -8px;
  background: #f1f1f1;
  &.dark {
    background: #363636;
  }
  .room__info {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    .img-frame {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: auto;
        height: 100%;
      }
    }
    .room-name {
      margin-left: 20px;
      cursor: pointer;
      color: #000;
      &:hover{
        text-decoration: underline;
      }
      &.dark {
        color: #fff;
      }
    }
  }
  .active__users-side {
    max-width: 400px;
    width: 100%;
  }
}

@keyframes skeleton-load {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(200px);
  }
}

.skeleton {
  width: 200px;
	overflow: hidden;
  background: rgba(255, 255,255, 0.2);
  margin-left: 20px;
  border-radius: 50px;
  height: 25px;
  overflow: hidden;
  position: relative;
	&.room-icon{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-left: 0;
	}
  &:before {
    content: "";
    width: 6px;
    position: absolute;
    background: #fff;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    animation-name: skeleton-load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}
