@import "../../../Home/style/variables";

.current_online_users{
	width: 100%;
	max-width: 400px;
	min-width: 400px;
	background: #1b1b1b;
	height: calc(100% - 70px);
	align-self: flex-end;
	@media screen and(max-width: 1000px){
		display: none;
	}
}