input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 86, 171, 0.411);
          box-shadow: 0 0 0 3px rgba(255, 86, 171, 0.411);
}

input[type="password"]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 86, 171, 0.411);
          box-shadow: 0 0 0 3px rgba(255, 86, 171, 0.411);
}

button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px rgba(255, 86, 171, 0.411);
          box-shadow: 0 0 0 5px rgba(255, 86, 171, 0.411);
}

.alert-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding: 0 20px;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.alert-container .alert-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 350px) {
  .alert-container .alert-wrapper {
    padding: 20px 0;
    height: 280px;
  }
}

.alert-container .alert-wrapper.dark {
  background: #1a1a1a;
  -webkit-box-shadow: -4px 0 10px #FA00FF, 4px 0 10px #161955, 0 4px 10px #ff007b;
          box-shadow: -4px 0 10px #FA00FF, 4px 0 10px #161955, 0 4px 10px #ff007b;
}

.alert-container .alert-wrapper .alert__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}

.alert-container .alert-wrapper .alert__text.dark {
  color: #000;
}

.alert-container .alert-wrapper .btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100px;
}

@media screen and (max-width: 350px) {
  .alert-container .alert-wrapper .btns-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

.alert-container .alert-wrapper .btns-wrapper button {
  background: -webkit-gradient(linear, left top, right top, from(#FA00FF), to(#161955));
  background: linear-gradient(to right, #FA00FF, #161955);
  cursor: pointer;
  color: #fff;
  width: 100px;
  margin: 0 20px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: ease all 0.1s;
  transition: ease all 0.1s;
  border: none;
}

.alert-container .alert-wrapper .btns-wrapper button:hover {
  font-size: 1.02rem;
}

.img_modal {
  position: absolute;
  width: 500px;
  height: 300px;
  background: #FFF;
  z-index: 15;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=alert__style.css.map */