@import "../Home/style/variables";

.accept-wrapper{
	@include Center(center, center);
	flex-direction: column;
	padding: 0 50px;
	background: $dark__theme;
	border-radius: 20px;
	width: 100%;
	max-width: 400px;
	min-height: 300px;
	border-radius: 20px;
	img{
		width: 100px;
	}
	p{
		color: #FFF;
		margin-top: 20px;
		text-align: center
	}
	button{
		width: 140px;
		height: 50px;
		transform: translateY(10px);
		border-radius: 50px;
		cursor: pointer;
		border: none;
		background: #ff4646;	
		&:focus{
			box-shadow: 0 0 0 3px rgba(255, 68, 68, 0.411);
		}
		color: #FFF;
		&:hover{
			background: #d65858;
		}
	}
}