.change-profile-picture{
  padding: 20px 40px;
  flex-direction: column;
  display: flex;
  @media screen and(max-width: 580px){
    padding: 20px 20px;
  }
  &.dark *{
    color: #FFF;
  }
  input{
    width: 100%;
    border-radius: 7px;
    border: 2px solid #FA00FF;
    height: 40px;
    padding: 0 10px;
    background: none;
    margin-bottom: 10px;
    max-width: 500px;
  }
  .reset-avatar{
    color: #4b66ff;
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
    width: 90px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
    &:focus{
      border-radius: 5px;
      border:1px solid rgb(75, 102, 255);
    }
  }
  .upload-photo-btn{
    width: 200px;
    height: 40px;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    background: linear-gradient(to right, #FA00FF, #161955);
  }
}
  hr{
    border: none;
    height: 1px;
    background-color: #919191;
    margin: 0 20px;
  }

.username-change-container,
.password-change-container{
  padding: 0 20px;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  &.dark *{
    color: #FFF
  }
  h3{
    font-weight: 500;
    font-size: 1.6rem;
  }
  label{
    margin-top: 15px;
  }
  input{
    width: 100%;
    border-radius: 7px;
    border: 2px solid #FA00FF;
    height: 40px;
    padding: 0 10px;
    background: none;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 500px;
  }
  .upload-username-btn,
  .upload-pass-btn{
    width: 200px;
    height: 40px;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    background: linear-gradient(to right, #FA00FF, #161955);
  }
}