.change-profile-picture {
  padding: 20px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 580px) {
  .change-profile-picture {
    padding: 20px 0;
  }
}

.change-profile-picture.dark * {
  color: #FFF;
}

.change-profile-picture input {
  width: 100%;
  border-radius: 7px;
  border: 2px solid #FA00FF;
  height: 40px;
  padding: 0 10px;
  background: none;
  margin-bottom: 10px;
  max-width: 500px;
}

.change-profile-picture .reset-avatar {
  color: #4b66ff;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  width: 90px;
  cursor: pointer;
}

.change-profile-picture .reset-avatar:hover {
  text-decoration: underline;
}

.change-profile-picture .reset-avatar:focus {
  border-radius: 5px;
  border: 1px solid #4b66ff;
}

.change-profile-picture .upload-photo-btn {
  width: 200px;
  height: 40px;
  color: #FFF;
  border-radius: 7px;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#FA00FF), to(#161955));
  background: linear-gradient(to right, #FA00FF, #161955);
}

.change-profile-picture .upload-photo-btn.disabled {
  background: #919191;
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.change-profile-picture .warn-alert {
  width: 100%;
  max-width: 300px;
  text-align: center;
  min-height: 40px;
  background-color: #439432;
  border-radius: 7px;
  margin-top: 10px;
  padding: 10px 10px;
  font-size: 0.9em;
  color: #FFF;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #919191;
  margin: 0 20px;
}

.username-change-container,
.password-change-container {
  padding: 0 20px;
  width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.username-change-container.dark *,
.password-change-container.dark * {
  color: #FFF;
}

.username-change-container h3,
.password-change-container h3 {
  font-weight: 500;
  font-size: 1.6rem;
}

.username-change-container label,
.password-change-container label {
  margin-top: 15px;
}

.username-change-container input,
.password-change-container input {
  width: 100%;
  border-radius: 7px;
  border: 2px solid #FA00FF;
  height: 40px;
  padding: 0 10px;
  background: none;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 500px;
}

.username-change-container .upload-username-btn,
.username-change-container .upload-pass-btn,
.password-change-container .upload-username-btn,
.password-change-container .upload-pass-btn {
  width: 200px;
  height: 40px;
  border-radius: 7px;
  border: none;
  color: #FFF;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#FA00FF), to(#161955));
  background: linear-gradient(to right, #FA00FF, #161955);
}

.username-change-container .upload-username-btn.disabled,
.username-change-container .upload-pass-btn.disabled,
.password-change-container .upload-username-btn.disabled,
.password-change-container .upload-pass-btn.disabled {
  background: #919191;
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.reset-username {
  color: #4b66ff !important;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  width: 120px;
  cursor: pointer;
}

.reset-username:hover {
  text-decoration: underline;
}

.reset-username:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  border: 1px solid #4b66ff;
}
/*# sourceMappingURL=change-form.css.map */