@import "../../Home/style/variables";

.chatting-playground{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
}

.modals-container__warn_load {
	@include Center(center, center);
	position: absolute;
	top: 0;
	z-index: 9;
	height: 100vh;
	width: 100%;
}